# Python-related files
*.pyc
__pycache__/
venv/
*.pyc

# Environment-related files
.env
tempCodeRunnerFile.pyc



# Other common files to ignore (optional)
.DS_Store  # macOS system file
node_modules/  # Node.js dependencies
