# Python-related files
*.pyc
__pycache__/
.pyc
venv/
*.pyc

# Environment-related files
.env
tempCodeRunnerFile.py



# Other common files to ignore (optional)
.DS_Store  # macOS system file
node_modules/  # Node.js dependencies
