{% extends "base2show.html" %}




{% block title %}
    Add Shows
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center"><span style="color: black;">Add Shows</span></h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="mb-3">
                            <label for="name" class="form-label"><span style="color: black;">Show Name</span><span style="color:red">*</span>:</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Show Name" required>
                        </div>

                        <div class="mb-3">
                            <label for="tags" class="form-label"><span style="color: black;">Show Tags:</span></label>
                            <input type="text" class="form-control" name="tags" id="tags" placeholder="Enter Show Tags">
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label"><span style="color: black;">Show per Ticket Price</span><span style="color:red">*</span>:</label>
                            <input type="text" class="form-control" name="price" id="price" placeholder="Enter per ticket price" required>
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label"><span style="color: black;">Show Image URL:</span></label>
                            <input type="text" class="form-control" name="image" id="image" placeholder="Paste image URL here">
                        </div>

                        <div class="mb-3">
                            <label for="trailer" class="form-label"><span style="color: black;">Show Trailer Link:</span></label>
                            <input type="text" class="form-control" name="trailer" id="trailer" placeholder="Paste trailer URL here">
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label"><span style="color: black;">Show Location:</span></label>
                                <input type="text" readonly class="form-control-plaintext" value="{{ v.location }}">
                            </div>
                            <div class="col">
                                <label class="form-label"><span style="color: black;">Venue Capacity:</span></label>
                                <input type="text" readonly class="form-control-plaintext" value="{{ v.capacity }}">
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button class="btn btn-lg btn-success" type="submit" style="width: 150px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
