{% extends "base1.html" %}

{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Montserrat:wght@600&display=swap');
    body {
        margin: 0;
        padding: 0;
        background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 253, 253);
    }

    .card {
        box-shadow: 1px 2px 8px black;
        border-radius: 10px;
        height: 240px; /* Reduced card height */
        width: 180px; /* Reduced card width */
        transition: box-shadow 0.3s ease;
        margin-bottom: 20px;
    }

    .card:hover {
        box-shadow: 3px 4px 20px green;
    }

    .img-fluid {
        height: 90px; /* Reduced image height */
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .zoom {
        transition: transform 0.2s;
        margin: 0 auto;
    }

    .zoom:hover {
        transform: scale(1.03);
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%; /* Fill available height */
        padding: 1rem;
        overflow: hidden;
    }

    .card-title {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

    .card-text {
        font-size: 12px;
        margin-bottom: 5px;
        color: black;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .buttons .btn {
        flex-shrink: 0;
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 6px;
        margin: 0 5px;
        max-width: 33%;
        word-wrap: break-word;
        padding: 5px 10px;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="display-4" align="center">Venue Details</h1>
<br>

<div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 gy-lg-3">
        {% for v in venue %}
            <div class="col mb-3">
                <div class="card zoom">
                    <img src="{{ v.vimg }}" class="card-img-top img-fluid rounded" alt="{{ v.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ v.name }}</h5>
                        <p class="card-text">Location: {{ v.location }}</p>
                        <p class="card-text">Capacity: {{ v.capacity }}</p>
                        <div class="buttons">
                            <a href="{{ url_for("views.shows", venue_id=v.id) }}" class="btn btn-primary">Show<i class="fa-solid fa-film"></i></a>
                            <a href="/delete_venue/{{ v.id }}" class="btn btn-outline-danger">Delete<i class="fa-solid fa-trash"></i></a>
                            <a href="/{{ v.id }}/edit_venue" class="btn btn-warning">Edit<i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
