{% extends "base1.html" %}
{% block head %}

<style>
.card {
    border: solid;
    margin-top: 150px;   
    box-shadow: 0px 5px 20px 4px black;
    margin-left: 550px;
    margin-right: 100px; 
    display: flex;

}
</style>
{% endblock %}



{% block content %}
<div class="card text-center">
    <div class="card-header">
      <b># My Profile</b>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text"><b>Name: </b>{{user.username}}</p>
      <p class="card-text"><b>No. of Bookings: </b>{{nb}}</p>
      <a href="/{{user.id}}/edit_profile" class="btn btn-primary">Edit Profile Credentials</a>
    </div>
    <div class="card-footer text-muted">
      <b>#{{user.id}}</b>
    </div>
  </div>
{% endblock %}
