{% extends "base1show.html" %}

{% block head %}
<style>

    body{
        background-image: url("/static/img14.jpg");
        background-size: cover;
    }

    .card{
        
        box-shadow: 10px 10px 12px rgba(193, 41, 206, 0.831);
        display: flex;
    
    }

    .card:hover{
        
        box-shadow: 10px 10px 12px rgba(236, 236, 8, 0.831);
        
    
    }
    .display-4{
        color: azure;
        text-shadow: 3px 2px 5px rgb(75, 73, 73);

    }

    .display-6{
        color: azure;
        text-shadow: 3px 2px 5px rgb(75, 73, 73);

    }

    .img-fluid{
       object-fit: contain;
       height: 200px;
    }


    .zoom {
        
        transition: transform .2s; /* Animation */
        margin: 0 auto;
      }
      
      .zoom:hover {
        transform: scale(1.1); 
      }
    
</style>
{% endblock %}


{% block content %}

<h1 class="display-4" align="Center">Show Details</h1>
<br>
{% if shows == [] %}
<h1 class="display-6">No Show Details created yet.....</h1>
{% else %}
    {% for v in range(0,shows|length) %}

        <div class="container">
        <div class="row">

        {% if v%3==0 %} <!--condition for first card rest follows automatically-->
        <div class="col">
            <div class="card zoom" style="width: 20rem;">
            <img src="{{shows[v].simg}}" class="card-img-top img-fluid rounded-start" alt="..."">
            <div class="card-body">
            <h5 class="card-title">{{shows[v].name}}</h5>
            <p class="card-text"><b>Tag:</b> {{shows[v].tags}}</p>
            <p class="card-text"><b>Price:</b> ₹{{shows[v].price}}</p>
            <p class="card-text"><b>Show Timing:</b> {{shows[v].show_timing}}</p>
            <p class="card-text"><b>Show capacity:</b>{{shows[v].show_capacity}}</p>
            <a href="/delete_show/{{shows[v].id}}" class="btn btn-outline-danger">Delete<i class="fa-solid fa-trash"></i></a>
            <a href="/{{shows[v].venue.id}}/{{shows[v].id}}/edit_shows" class="btn btn-primary">Edit <i class="fa-solid fa-pen-to-square"></i></a>

            </div>
            </div>
            </div>
            


        <!-- {% elif v%3==1 %} -->
            <div class="col">
            <div class="card zoom" style="width: 20rem;">
            <img src="{{shows[v].simg}}" class="card-img-top img-fluid rounded-start" alt="..."">
            <div class="card-body">
            <h5 class="card-title">{{shows[v].name}}</h5>
            <p class="card-text"><b>Tag:</b> {{shows[v].tags}}</p>
            <p class="card-text"><b>Price:</b> ₹{{shows[v].price}}</p>
            <p class="card-text"><b>Show Timing:</b> {{shows[v].show_timing}}</p>
            <p class="card-text"><b>Show capacity:</b>{{shows[v].show_capacity}}</p>
            <a href="/delete_show/{{shows[v].id}}" class="btn btn-outline-danger">Delete<i class="fa-solid fa-trash"></i></a>
            <a href="/{{shows[v].venue.id}}/{{shows[v].id}}/edit_shows" class="btn btn-primary">Edit <i class="fa-solid fa-pen-to-square"></i></a>

            </div>
            </div>
            </div>


        <!-- {% elif v%3==2 %} -->
            <div class="col">
            <div class="card zoom" style="width: 20rem;">
            <img src="{{shows[v].simg}}" class="card-img-top img-fluid rounded-start" alt="..." ">
            <div class="card-body">
            <h5 class="card-title">{{shows[v].name}}</h5>
            <p class="card-text"><b>Price:</b> ₹{{shows[v].price}}</p>
            
            <p class="card-text"><b>Show Timing:</b> {{shows[v].show_timing}}</p>
            <p class="card-text"><b>Show capacity:</b>{{shows[v].show_capacity}}</p>
            <a href="/delete_show/{{shows[v].id}}" class="btn btn-outline-danger">Delete<i class="fa-solid fa-trash"></i></a>
            <a href="/{{shows[v].venue.id}}/{{shows[v].id}}/edit_shows" class="btn btn-primary">Edit <i class="fa-solid fa-pen-to-square"></i></a>
            
            </div>
            </div>
            </div>

        {% endif %}
    </div>
    </div>
    </br>
{% endfor %}

{% endif %}
    

{% endblock %}
